<div class="project ">
    <div class="row bg-white has-shadow">
        <div class="left-col col-lg-2 d-flex align-items-center justify-content-between">
            <div class="project-title d-flex align-items-center">
                <div class="text">
                    <h3 class="h3"><a href='javascript:void(0);'
                                      onclick="window.open('http://sys.ddruk.com.ua/orders/view_order/cb187fb4dcd48a39d97abf48806e3d54', '_blank');">27885</a>
                    </h3>
                    <small>РњР°СЂРєР°СЃРѕРЅ (РњРѕРґРЅР° РєР°СЃС‚Р°)</small>
                </div>
            </div>
        </div>
        <div class="left-col col-lg-2 d-flex align-items-center justify-content-between">
            <div class="time">
                <small>
                    16.08.18 Рѕ 12:11
                    <br>
                    РЁРІР°Р№РєРѕ
                </small>
            </div>
        </div>
        <div class="right-col col-lg-2 d-flex align-items-center">
            <div class="comments no-margin">
                <small><i class="fa fa-recycle"></i></small>
            </div>
            <div class="comments ">
                <small>13/14</small>
            </div>
            <div class="project-progress no-margin">
                <div class="progress">
                    <div role="progressbar" style="width:92.857142857143%; height: 6px;" aria-valuenow="92.857142857143"
                         aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-red"></div>
                </div>
            </div>

        </div>
        <div class="right-col col-lg-2 d-flex align-items-center">
            <div class="comments no-margin">
                <small><i class="fa fa-boxes"></i></a></small>
            </div>
            <div class="comments">
                <small>13/13</small>
            </div>
            <div class="project-progress no-margin">
                <div class="progress">
                    <div role="progressbar" style="width:92.857142857143%; height: 6px;" aria-valuenow="92.857142857143"
                         aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-red"></div>
                </div>
            </div>
        </div>
        <div class="right-col col-lg-2 d-flex align-items-center comments"><span class="text-danger">РџС–РґРіРѕС‚СѓРІР°С‚Рё РґРѕРєСѓРјРµРЅС‚Рё</span>
        </div>
        <div class="right-col col-lg-1 d-flex align-items-center comments"><span class="text-danger">РћС‡С–РєСѓС” РѕРїР»Р°С‚Рё</span>
        </div>
    </div>
</div>
<div class="project ">
    <div class="row bg-white has-shadow">
        <div class="left-col col-lg-2 d-flex align-items-center justify-content-between">
            <div class="project-title d-flex align-items-center">
                <div class="text">
                    <h3 class="h3"><a href='javascript:void(0);'
                                      onclick="window.open('http://sys.ddruk.com.ua/orders/view_order/04147b7cff53423cf7ca21b6861d5e5f', '_blank');">27064</a>
                    </h3>
                    <small>РџСЂРёРІР°С‚РЅР° РѕСЃРѕР±Р°</small>
                </div>
            </div>
        </div>
        <div class="left-col col-lg-2 d-flex align-items-center justify-content-between">
            <div class="time">
                <small>
                    20.05.18 Рѕ 18:16
                    <br>
                    РЁРІР°Р№РєРѕ
                </small>
            </div>
        </div>
        <div class="right-col col-lg-4 d-flex align-items-center">
            <div class="comments">
                <small><i class="fa fa-car"></i>Р”РѕСЃС‚Р°РІРєР° <b>РњР°С€Р°</b>
                    <br><i class="fa fa-clock-o"></i> 21.05 РЅР° 12:36
                </small>
            </div>

        </div>
        <div class="right-col col-lg-2 d-flex align-items-center comments"><span class="text-success">Р”РѕРєСѓРјРµРЅС‚Рё РїС–РґРіРѕС‚РѕРІР»РµРЅРѕ</span>
        </div>
        <div class="right-col col-lg-1 d-flex align-items-center comments"><span class="text-danger">РћС‡С–РєСѓС” РѕРїР»Р°С‚Рё</span>
        </div>
    </div>
</div>
<div class="project ">
    <div class="row bg-white has-shadow">
        <div class="left-col col-lg-2 d-flex align-items-center justify-content-between">
            <div class="project-title d-flex align-items-center">
                <div class="text">
                    <h3 class="h3"><a href='javascript:void(0);'
                                      onclick="window.open('http://sys.ddruk.com.ua/orders/view_order/c16abc09121d105f271dc5b5cc361fdc', '_blank');">26736</a>
                    </h3>
                    <small>Р•РЅРµСЂРґР¶С– С‚СЂРµР№Рґ РіСЂСѓРї</small>
                </div>
            </div>
        </div>
        <div class="left-col col-lg-2 d-flex align-items-center justify-content-between">
            <div class="time">
                <small>
                    13.04.18 Рѕ 14:29
                    <br>
                    РЁРІР°Р№РєРѕ
                </small>
            </div>
        </div>
        <div class="right-col col-lg-4 d-flex align-items-center">
            <div class="comments">
                <small><i class="fa fa-car"></i>Р”РѕСЃС‚Р°РІР»РµРЅРЅРѕ <b>Р’РѕР»РѕРґРёРјРёСЂ</b>
                    <br><i class="fa fa-clock-o"></i> 26.04 Рѕ 19:57
                </small>
            </div>

        </div>
        <div class="right-col col-lg-2 d-flex align-items-center comments"><span class="text-success">Р”РѕРєСѓРјРµРЅС‚Рё РїС–РґРіРѕС‚РѕРІР»РµРЅРѕ</span>
        </div>
        <div class="right-col col-lg-1 d-flex align-items-center comments"><span class="text-danger">РћС‡С–РєСѓС” РѕРїР»Р°С‚Рё</span>
        </div>
    </div>
</div>